.button {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;

    width: 247px;
    padding: 15px;
    padding-right: 14px;

    text-align: center;
    text-decoration: none;

    border: 3px solid #fff;
    border-radius: 30px;
}
