.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  width: 247px;
  padding: 15px;
  padding-right: 14px;

  text-align: center;
  text-decoration: none;

  border: 3px solid #ffffff;
  border-radius: 30px;
}

.button-green {
  font-size: 18px;
  font-weight: bold;

  width: 280px;
  min-height: 62px;
  padding: 0;

  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: @bg-white;
  border: none;
  border-radius: 0;
  background-color: @bg-green;

  &:hover {
    background-color: rgb(28, 155, 94);
  }

  &:active,
  &:focus {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    background-color: rgb(28, 155, 94);
  }
}
