.os-info {
  display: flex;
  flex-direction: column;

  min-width: 320px;

  background-color: @bg-darkblue;

  align-items: center;
}

.os-info__description {
  min-width: 320px;
  margin-top: -97px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 30px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-position: 0 28px;
    background-size: 320px auto;
  }
}

.os-info__description-wrapper {
  z-index: 1;

  display: flex;
  flex-direction: column;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left 206px;

  align-items: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }
}


.os-info__title {
  font-size: 24px;
  font-weight: lighter;
  line-height: 29px;

  width: 225px;
  margin-top: 119px;

  text-align: center;

  color: @bg-white;

  order: -1;
}

.os-info--button {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  width: 247px;
  margin-top: 343px;
  padding: 15px;
  padding-right: 14px;

  text-align: center;

  color: @bg-white;
  border: 3px solid #ffffff;
  border-radius: 30px;

  &:hover,
  &:focus {
    color: @pink-hover;
    background-color: #ffffff;
  }

  &:active {
    color: @pink-active-light;
    background-color: #ffffff;
  }
}

.os-info__list {
  display: flex;

  width: 237px;
  margin-top: 32px;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.os-info__list a {
  text-decoration: none;
}

.os-info__item--apple {
  width: 47px;
  height: 56px;

  cursor: pointer;

  background-image: url("../img/logo-apple.svg");
  background-repeat: no-repeat;
}

.os-info__item--android {
  width: 43px;
  height: 47px;
  margin-top: 4px;

  cursor: pointer;

  background-image: url("../img/logo-android.svg");
  background-repeat: no-repeat;
}

.os-info__item--windows {
  width: 44px;
  height: 41px;
  margin-top: 9px;

  cursor: pointer;

  background-image: url("../img/logo-microsoft.svg");
  background-repeat: no-repeat;
}

.os-info__availability {
  font-size: 14px;
  font-weight: lighter;
  line-height: 24px;

  width: 230px;
  margin-top: 5px;
  padding-bottom: 16px;

  text-align: center;

  color: @bg-white;
}


@media (min-width: @tablet-width) {
  .os-info__description {
    width: 100%;
    min-width: 660px;
    margin-top: -110px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center top;
    background-size: auto 730px;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-position: center top;
      background-size: auto 730px;
    }
  }

  .os-info__description-wrapper {
    z-index: 1;

    width: 660px;
    margin: 0 auto;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -20px bottom;
    background-size: auto 546px;

    align-items: flex-start;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-position: -20px bottom;
      background-size: auto 546px;
    }
  }

  .os-info__title {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;

    z-index: 1;

    width: 189px;
    margin-top: 203px;
    margin-left: 75px;

    text-align: center;

    color: @bg-white;
  }

  .os-info--button {
    z-index: 1;

    margin-top: 32px;
    margin-left: 20px;
    padding: 15px 23px;
  }

  .os-info__list {
    z-index: 1;

    margin-top: 46px;
    margin-left: 50px;
  }

  .os-info__availability {
    font-size: 18px;
    font-weight: 300;

    z-index: 1;

    width: 300px;
    margin-top: 18px;
    margin-left: 20px;
    padding-bottom: 93px;
  }
}

@media (min-width: @desktop-width) {
  .os-info__description {
    min-width: 960px;
    margin-top: -106px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center top;
    background-size: auto 852px;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-position: center top;
      background-size: auto 854px;
    }
  }

  .os-info__description-wrapper {
    z-index: 1;

    width: 960px;
    margin: 0 auto;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 25px bottom;
    background-size: auto 645px;

    align-items: flex-start;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-position: 25px bottom;
      background-size: auto 645px;
    }
  }

  .os-info__title {
    font-size: 50px;
    line-height: 60px;

    width: 236px;
    margin-top: 219px;
    margin-left: 42px;
  }

  .os-info--button {
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;

    margin-top: 51px;
    margin-left: 10px;
    padding-top: 9px;
    padding-bottom: 12px;
  }

  .os-info__list {
    z-index: 1;

    margin-top: 66px;
    margin-left: 41px;
  }

  .os-info__availability {
    width: 320px;
    margin-top: 38px;
    margin-left: 0;
    padding-bottom: 104px;
  }
}
